# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon


# Swift Package Manager
.build/
.swiftpm/

# Xcode
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
!Package.swift

# VS Code
.vscode/

# Build artifacts
*.o
*.a
*.so
*.dylib
*.swiftdoc
*.swiftmodule
*.swiftsourceinfo

# Local Environment
.env
.env.*
